<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Account</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/sl-slide.css">
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <link rel="shortcut icon" href="images/favicon.png">
    <!--Hopefully this + width device does mobile. https://www.w3schools.com/whatis/whatis_bootstrap.asp Actually crashes. Idk why-->
</head>
<style>
    h4 { 
        font-size: 2em;
    }
    label {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
<body ng-app="essenceEvents" ng-controller="UserController">
    <!--Header-->
    <header style="position: fixed; top: 0px; width: 100%"" >
            <nav>
                <a href="index.html"><img src="images/logoReplace2.PNG" class="pull-left" href="index.html"></img></a>          
                <a class="navbutton" href="index.html">Home</a>
                <a class="navbutton" href="Calendar.html">Calendar</a>
                <a class="navbutton" href="Services.html">Services</a>
                <a class="navbutton" href="Testimonials.html">Testimonials</a>
                <a class="navbutton" href="ContactUs.html">Contact Us</a>
                <a class="navbutton" href="AboutUs.html">About Us</a>
                <a class="navbutton navactive" href="AccountManagement.html">Account</a>
                <a class="navbutton" ng-click="logout()">Log Out</a>
            </nav>
    </header>
    <!-- /header -->
    <section class="no-margin">
        <div id="map" style="height:50px;"></div>
    </section>
    <div ng-hide="userinfo.isApproved" align="center" style="padding: 1em; background-color: rgba(255, 0, 0, 0.5)"><h5>Your account is still pending approval.</h5></div>
    <section id="contact-page" class="container">
        <div class="row">
            <div style="padding-bottom: 1em">
                    <h4 align="center">Account Management</h4>
            </div>
            <div class="span12">
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form" name="contact-form">
                    <div class="row">
                        <div class="span6">
                            <p style="display: none">{{getUserInfo()}} </p>
                            <div class="block">
                                <label>Name: {{userinfo.fullName}} </label>
                                <button type="submit" class="btn btn-primary btn-small">Change Name</button>
                            </div>
                            <br>
                            <div class="block">
                                <label>Email: {{userinfo.email}} </label>
                            </div>
                            <br>
                            <div class="block">
                                <label>Phone: {{userinfo.phoneNum}} </label>
                                <button type="submit" class="btn btn-primary btn-small">Change Number</button>
                            </div>
                            <br>
                            <div class="block">
                                <button type="submit" class="btn btn-primary btn-small">Change Password</button>
                            </div>
                            <br>
                            <div class="block">
                                <button ng-click="deleteUser()" class="btn btn-primary btn-small">Delete Account</button>
                            </div>
                            <br>
                        </div>
                        <div class="span6" align="center" style='text-align: center'>
                            <h5>
                            Your charges:
                            <br>
                            {{userinfo.balance}}
                            </h5>
                            <br>
                            <div id="paypal-buttons" style="width: 65%; margin: 0 auto;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>   
        </div>
    </section>
    <!--Footer-->
    <div class="fixedBot">
    <footer id="footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span5 cp">
                    &copy; 2019 <a target="_blank" href="http://www.domain.com/"> by Essence Events</a>
                </div>
                <div class="span6">
                    <ul class="social pull-right">
                        <li><a href="https://www.facebook.com/EssenceEventsLLC/"><i class="icon-facebook"></i></a></li>
                                <li><a href="https://www.pinterest.com/ermasams/"><i class="icon-pinterest"></i></a></li>
                                <li><a href="https://www.instagram.com/essenceevent/"><i class="icon-instagram"></i></a></li>  
                                <li><a href="https://www.linkedin.com/in/erma-sams-80720611"><i class="icon-linkedin"></i></a></li>                 
                    </ul>
                </div>
                <divclass="span1">
                    <a id="gototop" class="gototop pull-right" href="#"><i class="icon-angle-up"></i></a>
                </div>
            </div>
        </div>
    </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=Ab9knr4xaCISEM0PPiv1pLaIPtMnERHHqVTuDiYE-vevPfRp0JGlaBNSutSQn9npAJYb5EczVmuHcCXZ"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/accountFactory.js"></script>
    <script src="js/controllers/userController.js"></script>
</body>
</html>
