<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Account</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/sl-slide.css">
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <link rel="shortcut icon" href="images/favicon.png">
    <!--Hopefully this + width device does mobile. https://www.w3schools.com/whatis/whatis_bootstrap.asp Actually crashes. Idk why-->
</head>
<style>
    h4 { 
        font-size: 2em;
    }
    label {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
<body ng-app="essenceEvents" ng-controller="AdminController">
    <!--Header-->
    <header style="position: fixed; top: 0px; width: 100%"" >
            <nav>
                <a href="index.html"><img src="images/logoReplace2.PNG" class="pull-left" href="index.html"></img></a>          
                <a class="navbutton" href="index.html">Home</a>
                <a class="navbutton" href="Calendar.html">Calendar</a>
                <a class="navbutton" href="Services.html">Services</a>
                <a class="navbutton" href="Testimonials.html">Testimonials</a>
                <a class="navbutton" href="ContactUs.html">Contact Us</a>
                <a class="navbutton" href="AboutUs.html">About Us</a>
                <a class="navbutton navactive" href="AccountManagement.html">Account</a>
                <a class="navbutton" ng-click="logout()">Log Out</a>
            </nav>
    </header>
    <!-- /header -->
    <section class="no-margin">
        <div id="map" style="height:50px;"></div>
    </section>
    <section id="contact-page" class="container">
        <div class="row">
            <div class="span12">
                <h4 align="center">Account Management</h4>
                <div class="tableWrapper">
                    <table class="table table-hover" style=" background-color: white">
                          <tr>
                            <th>User Email</th>
                            <th>User Name</th>
                            <th>User Phone</th>
                            <th>Charges</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                          <tr ng-repeat="user in users | filter: query">
                            <td>{{user.email}}</td>
                            <td>{{user.fullName}}</td>
                            <td>{{user.phoneNum}}</td>
                            <td>{{user.balance}}</td>
                            <td><button class="btn btn-primary btn-small" ng-hide="user.email === 'admin' || !(user.isApproved)" style="background-color: red" ng-click="addCharge(user._id,user.balance)">Charge</button></td>
                            <td><button class="btn btn-primary btn-small" ng-hide="user.email === 'admin' || !(user.isApproved)" style="background-color: green" ng-click="addPayment(user._id,user.balance)">Confirm Payment</button></td>
                            <td><button ng-hide="user.isApproved" class="btn btn-primary btn-small" style="background-color: rgb(27, 206, 27)" ng-click="approveUser(user._id)">Approve</button></td>
                            <td><button class="btn btn-primary btn-small" ng-hide="user.email === 'admin'" style="background-color: rgb(155, 11, 11)" ng-click="deleteUser(user._id)">Delete</button></td>
                        </tr>
                    </table>
                </div>
                <div class="status alert alert-success" style="display: none"></div>
            </div>   
        </div>
    </section>
    <!--Footer-->
    <footer id="footer" style=">
        <div class="container">
            <div class="row-fluid">
                <div class="span5 cp">
                    &copy; 2023 <a target="_blank" href="http://www.domain.com/"> by Essence Events</a>
                </div>
                <div class="span6">
                    <ul class="social pull-right">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>  
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>                 
                    </ul>
                </div>
                <div class="span1">
                    <a id="gototop" class="gototop pull-right" href="#"><i class="icon-angle-up"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/accountFactory.js"></script>
    <script src="js/controllers/adminController.js"></script>

</body>
</html>
